/* Sidebar.css */
.sidebar {
  width: 220px;
  background-color: #141428;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
